<h2>Edit this pet</h2>
<form>
    <p *ngIf="name.errors !== null">This pet requires a name of at least 3 characters.</p><br>
    <p>Pet Name: </p>
    <input required minlength="3" #name='ngModel' type="text" name="name" [(ngModel)]="updatedPet.name"><br>
    <p *ngIf="type.errors !== null">This pet requires a type of at least 3 characters.</p><br>
    <p>Pet Type: </p>
    <input required minlength="3" #type='ngModel' type="text" name="type" [(ngModel)]="updatedPet.type"><br>
    <p *ngIf="description.errors !== null">This pet requires a description of at least 3 characters.</p><br>
    <p>Description: </p>
    <input required minlength="3" #description='ngModel' type="text" name="description" [(ngModel)]="updatedPet.description"><br>
    <p>Skills (Optional): </p><br>
    <label for="">Skill 1: </label>
    <input type="text" name="skill1" [(ngModel)]="updatedPet.skill1"><br>
    <label for="">Skill 2: </label>
    <input type="text" name="skill2" [(ngModel)]="updatedPet.skill2"><br>
    <label for="">Skill 3: </label>
    <input type="text" name="skill3" [(ngModel)]="updatedPet.skill3"><br>
    <input (click)="Update()" type="submit" value="Edit Pet">
    <button (click)="homeClick()">Cancel</button>
</form>